  body {
    box-sizing: border-box;
    content: inherit;
    margin:40px 40px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
  }
  
  .wishimage{
    width: 165px;
    float: left;
  }
  .wishimage2{
    width: 165px;
    float: right;
  }
  #birthday-wish {
    font-size: 46px;
    text-align: center;
    color: #ff6600;
  }
  
  #birthday-message {
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  .images{
    margin-left: 46px;
    margin-top: 36px;
    text-align: center;
  }
  